/.idea/.gitignore
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Software Engineering.iml
/.idea/vcs.xml
/Course2/Homework1/.idea/
/Course2/Homework1/.gradle/
/Course2/Homework1/gradle/wrapper/
.idea
Course2/Homework1/build
