/.idea/.gitignore
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Software Engineering.iml
/.idea/vcs.xml
/Course2/Homework1/.idea/
/Course2/Homework1/.gradle/
/Course2/Homework1/gradle/wrapper/
.idea
Course2/Homework1/build
Course2/Homework2/.gradle
Course2/Homework2/gradle
Course2/Homework2/turnstile/build
Course2/Homework2/homework-db/build
Course2/Homework2/build
